<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">


<head th:replace="fragments/common :: head"></head>

<body>

<div id="wrapper">

    <!--메뉴-->
    <nav class="navbar-default navbar-static-side" role="navigation" th:replace="fragments/common :: menu"></nav>

    <div id="page-wrapper" class="gray-bg">

        <!--프로필-->
        <div class="row border-bottom" th:replace="fragments/common :: profile"></nav></div>

        <!--Content-->
        <!--Content Body-->
        <div class="wrapper wrapper-content animated fadeInRight">
            <!--그룹 관리-->
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox">
                        <div class="ibox-title">그룹 관리</div>
                        <div class="dmzt-container ibox-content" id="group-container">
                            <div class="row">
                                <div class="col-lg-12">
                                    <form class="form-inline">
                                        <input type="text" id="groupNameSeach" class="form-control dmzt-query" placeholder="그룹명" />
                                        <button type="button" id="btn-grid-groups" class="btn btn-default dmzt-search-button">검색</button>
                                    </form>
                                </div>
                            </div>
                            <hr />
                            <div class="row">
                                <div class="col-lg-8">
                                    <table id ="grid-groups" class="table table-striped">
                                        <thead>
                                        <tr>
                                            <th>no</th>
                                            <th>Id</th>
                                            <th>Name</th>
                                            <th>Desc</th>
                                            <th>CreateDate</th>
                                            <th>CreateUser</th>
                                            <th>UpdateDate</th>
                                            <th>UpdateUser</th>
                                            <th>ParentId</th>
                                            <th>IsUse</th>
                                        </tr>
                                        </thead>
                                        <tbody id="grid-groups-list"class="tbody-grid-groups-list"></tbody>
                                    </table>
                                </div>


                                <div class="col-lg-4">
                                    <div class="form-horizontal">
                                        <div class="form-group">
                                            <label class="col-lg-3 control-label">Id</label>
                                            <div class="col-lg-9">
                                                <input type="number" id="groupId" class="form-control disabled" disabled />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-lg-3 control-label">그룹명</label>
                                            <div class="col-lg-9">
                                                <input type="text" id="groupName" class="form-control" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-lg-3 control-label">설명</label>
                                            <div class="col-lg-9">
                                                <textarea id="groupDesc" class="form-control"></textarea>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-lg-3 control-label">사용여부</label>
                                            <div class="col-lg-9">
                                                <select id="groupIsUse" name="groupIsUse" class="form-control dmzt-select-useyn">
                                                    <option value="">-- 사용여부 --</option>
                                                    <option value="True">Y</option>
                                                    <option value="False">N</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-offset-3 col-lg-9">
                                                <button type="button" id="groupReset" class="btn btn-default dmzt-clear-form-button">초기화</button>
                                                <button type="button" id="groupAdd" class="btn btn-primary dmzt-create-button">추가</button>
                                                <button type="button" id="groupChange"class="btn btn-default dmzt-set-button">변경</button>
                                                <button type="button" id="groupDelete" class="btn btn-danger dmzt-remove-button">삭제</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr/>
                        </div>

                    </div>
                </div>
            </div>
         </div>

        </div>


        <!--footer-->
        <div class="footer" th:replace="fragments/common :: footer"></div>

    </div>
    <script>
        $(document).ready(function() {
            $("#input-group-users").select2();
        });
    </script>
</div>
</body>
</html>