<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/header::userHead"></head>
<body>
<div th:replace="layout/top::header"></div>

<div class="container">

    <div class="row align-items-start">

        <nav class="col-md-2 d-none d-md-block bg-light sidebar" th:replace="layout/adminmenu::menu('resources')"></nav>

        <div style="padding-top:50px;" class="col">
            <div class="container text-center">
                <div class="tbl_wrp">
                    <table class="table">
                        <thead>
                        <tr class="table-info">
                            <th scope="col">리소스명</th>
                            <th scope="col">리소스타입</th>
                            <th scope="col">HttpMethod</th>
                            <th scope="col">순서</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="link_btn hover" th:each="resource : ${resources}">

                            <td style="text-align: left;">
                                <a th:href="@{'/admin/resources/' + ${resource.id}}"><span th:text="${resource.resourceName}">회원</span></a>
                            </td>
                            <td style="text-align: left;" th:text="${resource.resourceType}"></td>
                            <td style="text-align: left;" th:text="${resource.httpMethod}"></td>
                            <td style="text-align: left;" th:text="${resource.orderNum}"></td>
                        </tr>
                        </tbody>
                    </table>

                    <div style="text-align:right;">
                        <p><a class="btn btn-dark btn-lg" style="margin:10;" th:href="@{/admin/resources/register}">리소드 등록</a></p>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>
<div th:replace="layout/footer::footer"></div>
</body>
</html>