<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/header::userHead"></head>
<body>
<div th:replace="layout/top::header"></div>
<div class="container">
    <div class="row align-items-start">

        <div style="padding-top:50px;" class="col">
            <div class="container text-center">
                <h1 class="text-primary">OneStop 관리자 화면</h1>
            </div>
        </div>

    </div>
</div>
<div th:replace="layout/footer::footer"></div>
</body>
</html>