<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/header::userHead"></head>
<body>
<div th:replace="layout/top::header"></div>
<div class="container">
    <div class="row align-items-start">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <div style="padding-top:10px;" class="nav flex-column nav-pills" aria-orientation="vertical">
                            <a th:href="@{/admin/accounts}" style="margin:5px;" class="nav-link">사용자 관리</a>
                            <a th:href="@{/admin/roles}" style="margin:5px;" class="nav-link ">권한 관리</a>
                            <a th:href="@{/admin/groups}" style="margin:5px;" class="nav-link active">그룹 관리</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
        <div style="padding-top:50px;" class="col">
            <div class="container text-center">
                <div class="tbl_wrp">

                    <!--댓글 작성란-->
                    <div class="card">
                        <div class="card-body">

                            <div class="form-group">
                                <label for="roleName" class="col-sm-2 control-label">그룹</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control input-large" name="roleName" id="roleName" placeholder="roleName"
                                           th:value="*{roleName}">
                                </div>
                            </div>


                            <div class="form-group">
                                <label for="roleName" class="col-sm-2 control-label">그룹</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control input-large" name="roleName" id="roleName" placeholder="roleName"
                                           th:value="*{roleName}">
                                </div>
                            </div>


                        </div>

                        <div class="card-footer">
                            <button class="btn btn-primary" th:onclick="|groupSave()|" >등록</button>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>
<div th:replace="layout/footer::footer"></div>
</body>
</html>